### Comparsion of encoding categorical variables

In [1]:
import os
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, LabelBinarizer

In [2]:
os.chdir('C:/Users/Bangda/Desktop/kaggle/titanic')
train = pd.read_csv('train_cleaned.csv')
train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,num_family,last_name,title,first_name,imputed_age,adult,ticket_letter_length,ticket_digit_length,re_ticket,family_id
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,2.110213,...,1,Braund,Mr,Owen Harris,22.0,1,1,6,A6,735
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,4.280593,...,1,Cumings,Mrs,John Bradley (Florence Briggs Thayer),38.0,1,1,5,PC5,690
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,2.188856,...,0,Heikkinen,Miss,Laina,26.0,1,2,8,STONO8,446

In [3]:
train.Embarked.value_counts()

S    644
C    170
Q     77
Name: Embarked, dtype: int64

In [4]:
pd.get_dummies(train.Embarked, drop_first = True).head()

   Q  S
0  0  1
1  0  0
2  0  1
3  0  1
4  0  1

In [5]:
embarked_label_encoder = LabelEncoder()
embarked_label_encoder.fit(train.Embarked.values)
train['labeled_embarked'] = embarked_label_encoder.transform(train.Embarked.values)
train[['Embarked', 'labeled_embarked']].head()

  Embarked  labeled_embarked
0        S                 2
1        C                 0
2        S                 2
3        S                 2
4        S                 2

In [6]:
embarked_binlabeled = LabelBinarizer()
embarked_binlabeled.fit(train.Embarked.values)
embarked_binlabeled.classes_
binlabeled_embarked = embarked_binlabeled.transform(train.Embarked.values)
binlabeled_embarked[:5, :]

array([[0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1]])

In [7]:
embarked_onehotlabeled = OneHotEncoder()
embarked_onehotlabeled.fit([[0], [1], [2]])  # three types of Embarked
embarked_onehotlabeled.transform([[2], [0], [2], [2], [2]]).toarray() # head of Embarked

array([[ 0.,  0.,  1.],
       [ 1.,  0.,  0.],
       [ 0.,  0.,  1.],
       [ 0.,  0.,  1.],
       [ 0.,  0.,  1.]])